<%page expression_filter="h"/>

<%!
from django.utils.translation import gettext as _
from openedx.core.djangolib.js_utils import (
    dump_js_escaped_json, js_escaped_string
)
%>
% if display_name is not UNDEFINED and display_name is not None and not is_embed:
    <h3 class="hd hd-2">${display_name}</h3>
% endif

<div
    id="video_${id}"
    class="video closed"
    data-metadata='${metadata}'
    data-bumper-metadata='${bumper_metadata}'
    data-autoadvance-enabled="${autoadvance_enabled}"
    data-poster='${poster}'
    data-block-id='${block_id}'
    data-course-id='${course_id}'
    tabindex="-1"
>
    <div class="focus_grabber first"></div>

    <div class="tc-wrapper">
      <div class="video-wrapper">
          <span tabindex="0" class="spinner" aria-hidden="false" aria-label="${_('Loading video player')}"></span>
          <span tabindex="-1" class="btn-play fa fa-youtube-play fa-2x is-hidden" aria-hidden="true" aria-label="${_('Play video')}"></span>
          <div class="video-player-pre"></div>
          <div class="video-player">
              <div id="${id}"></div>
              <h4 class="hd hd-4 video-error is-hidden">${_('No playable video sources found.')}</h4>
              <h4 class="hd hd-4 video-hls-error is-hidden">
                  ${_('Your browser does not support this video format. Try using a different browser.')}
              </h4>
          </div>
          <div class="video-player-post"></div>
          <div class="closed-captions"></div>
          <div class="video-controls is-hidden">
              <div>
                  <div class="vcr"><div class="vidtime">0:00 / 0:00</div></div>
                  <div class="secondary-controls"></div>
              </div>
          </div>
      </div>
    </div>

    <div class="focus_grabber last"></div>

    % if (download_video_link or track or handout or branding_info or public_sharing_enabled) and not hide_downloads:
    <h3 class="hd hd-4 downloads-heading sr" id="video-download-transcripts_${id}">${_('Downloads and transcripts')}</h3>
    <div class="wrapper-downloads" role="region" aria-labelledby="video-download-transcripts_${id}">
        % if download_video_link or public_sharing_enabled:
            <div class="wrapper-download-video">
                <h4 class="hd hd-5">${_('Video')}</h4>
                % if download_video_link:
                    <span class="icon fa fa-download" aria-hidden="true"></span>
                    <a class="btn-link video-sources video-download-button" href="${download_video_link}">
                        ${_('Download video file')}
                    </a>
                % endif
                % if download_video_link and public_sharing_enabled:
                    <br>
                % endif
                % if sharing_sites_info:
                    <div class="wrapper-social-share">
                        <button
                            style="background-image: none; background-color: rgb(0, 38, 43); border-radius: 0px; color: white" 
                            class="social-toggle-btn btn"
                        >
                            <span class="icon fa fa-share-alt mr-2" style="text-shadow: none"></span>
                            ${_('Share this video')}
                        </button>
                        <div
                            hidden
                            class="container-social-share color-black p-2"
                            style="width: 300px; border-radius: 6px; background-color: white; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15),0 .25rem .625rem rgba(0,0,0,.15)"
                        >
                            ${_('Share this video')}
                            <div class="btn-link close-btn float-right">
                                <span style="color: black" class="icon fa fa-close" />
                            </div>

                            <br />
                            % for sharing_site_info in sharing_sites_info:
                            <a
                                class="btn-link social-share-link"
                                data-source="${sharing_site_info['name']}"
                                href="${sharing_site_info['sharing_url']}"
                                target="_blank"
                                rel="noopener noreferrer"
                                style="font-size: 1.5rem"
                            >
                                <span class="icon fa ${sharing_site_info['fa_icon_name']}" aria-hidden="true"></span>
                                <span class="sr">${_("Share on {site}").format(site=sharing_site_info['name'])}</span>
                            </a>
                            % endfor
                            <br />
                            <div style="background-color: #F2F0EF" class="public-video-url-container p-2">
                                <a href=${public_video_url} class="d-inline-block align-middle" style="width: 200px">
                                    <div
                                        class="text-nowrap"
                                        style="color: black; overflow: hidden; text-overflow: ellipsis; vertical-align: middle"
                                    >
                                        ${public_video_url}
                                    </div>
                                </a>
                                <div
                                    class="public-video-copy-btn btn-link d-inline-block float-right"
                                    data-url=${public_video_url}
                                >
                                    <span class="icon fa fa-link pr-1"></span>
                                    <span>${_('Copy')}</span>
                                </div>
                              <span>
                            </div>
                        </div>
                    </div>
                % endif
            </div>
        % endif
        % if track:
        <div class="wrapper-download-transcripts">
            <h4 class="hd hd-5">${_('Transcripts')}</h4>
            % if transcript_download_format:
            <ul class="list-download-transcripts">
                % for item in transcript_download_formats_list:
                    <li class="transcript-option">
                        <span class="icon fa fa-download" aria-hidden="true"></span>
                        <% dname = _("Download {file}").format(file=item['display_name']) %>
                        <a class="btn btn-link" href="${track}" data-value="${item['value']}">${dname}</a>
                    </li>
                % endfor
            </ul>
            % else:
            <a class="btn-link external-track" href="${track}">${_('Download transcript')}</a>
            % endif
        </div>
        % endif
        % if handout:
        <div class="wrapper-handouts">
            <h4 class="hd hd-5">${_('Handouts')}</h4>
            <a class="btn-link" href="${handout}">${_('Download Handout')}</a>
        </div>
        % endif
        % if branding_info:
        <div class="branding">
            <span class="host-tag">${branding_info['logo_tag']}</span>
            <a href="${branding_info['url']}"><img class="brand-logo" src="${branding_info['logo_src']}" alt="${branding_info['logo_tag']}" /></a>
        </div>
        % endif
    </div>
    % endif
</div>

% if cdn_eval:
<script>
  //TODO: refactor this js into a separate file.
  function sendPerformanceBeacon(id, expgroup, value, event_name) {
    var data = {event: event_name, id: id, expgroup: expgroup, value: value, page: "html5vid"};
    $.ajax({method: "POST", url: "/performance", data: data});
  }
  var cdnStartTime;
  var salt = Math.floor((1 + Math.random()) * 0x100000).toString(36);
  var id = "${id | n, js_escaped_string}";
  function initializeCDNExperiment() {
    sendPerformanceBeacon(id + "_" + salt, ${cdn_exp_group | n, dump_js_escaped_json}, "", "load");
    cdnStartTime = Date.now();
    $.each(['loadstart', 'abort', 'error', 'stalled', 'loadedmetadata',
                    'loadeddata', 'canplay', 'canplaythrough', 'seeked'],
                    function(index, eventName) {
      $("#video_" + id).bind("html5:" + eventName, null, function() {
        timeElapsed = Date.now() - cdnStartTime;
        sendPerformanceBeacon(id + "_" + salt, ${cdn_exp_group | n, dump_js_escaped_json}, timeElapsed, eventName);
      });
    });
  }
  $("#video_" + id).bind("initialize", null, initializeCDNExperiment);
  if ($("#video_" + id).hasClass("is-initialized")) {
    initializeCDNExperiment();
  }
</script>
% endif
<script>
    // appending search icon
var searchIconContainer = document.createElement("div");
searchIconContainer.className = "transcript-search";

var searchIconSVG = document.createElementNS("http://www.w3.org/2000/svg", "svg");
searchIconSVG.setAttribute("xmlns", "http://www.w3.org/2000/svg");
searchIconSVG.setAttribute("viewBox", "0 0 512 512");
searchIconSVG.setAttribute("style", "");
var searchIconPath = document.createElementNS("http://www.w3.org/2000/svg", "path");
searchIconPath.setAttribute("d", "M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z");
searchIconPath.setAttribute("fill", "white");
searchIconSVG.appendChild(searchIconPath);
searchIconContainer.appendChild(searchIconSVG);

// Prepend both divs to the secondary-controls element
var secondaryControls = document.querySelector(".secondary-controls");
if (secondaryControls) {
    secondaryControls.prepend(searchIconContainer);
}


// event to add and show search field 
var transcript_search = document.querySelector(".transcript-search");
transcript_search.addEventListener('click', function() {
    const subtitles = document.querySelector('.subtitles');
    const searchTranscript = document.getElementById('searchTranscript');
    if (subtitles.style.display === 'block') {
        subtitles.style.display = 'none';
    } else {
        subtitles.style.display = 'block';
        if (!searchTranscript) {
            const searchTranscriptDiv = document.createElement('div');
            searchTranscriptDiv.id = 'searchTranscript';
            searchTranscriptDiv.className = 'searchTranscript';
            searchTranscriptDiv.style.display = 'block';
            const form = document.createElement('form');
            form.id = 'searchForm';
            form.className = 'searchForm';
            form.style.textAlign = 'center';
            const input = document.createElement('input');
            input.id = 'searchQuery';
            input.className = 'searchQuery';
            input.type = 'text';
            input.placeholder = 'Search Transcript';
            form.appendChild(input);
            searchTranscriptDiv.appendChild(form);
            const searchResultBody = document.createElement('div');
            searchResultBody.className = 'searchResult-body';
            searchResultBody.id = 'searchResult-body';
            searchTranscriptDiv.appendChild(searchResultBody);
            subtitles.prepend(searchTranscriptDiv);
            // search function call
            document.querySelector("#searchQuery").addEventListener("keyup", (event) => {
                search_transcript();
            });
        }
    }
});

// search transcript
function search_transcript() {
    $('#searchResult-body').empty();
    var query = document.getElementById("searchQuery").value;
    log_query = query;

    var transcript_items = document.querySelectorAll("#transcript-captions-9e24f52e08b8452f9b29540b2a0788ae li span[role='link']");
    var result = '';
    var count = 0;
    
    transcript_items.forEach(item => {
        var text = item.textContent;
        var data_start = item.getAttribute("data-start");
        var data_index = item.getAttribute("data-index");
        var text_lower = text.toLowerCase();
        var query_lower = query.toLowerCase();
        
        if (text_lower.includes(query_lower)) {
            result += `<li class="searchResult-line"><span data-start=${data_start} data-index=${data_index} class="searchResult-text">${text}</span></li>`;
            count++;
        }
    });

    var transcript = document.querySelector(".subtitles-menu");
    transcript.style.display = "none";
    
    if (result === "") {
        result = '<div class="searchResult-line"><span class="searchResult-noResults">No Results Found.</span></div>';
    } else {
        result = `<div class="searchResult-Count"><span class="searchResult-count">There are ${count} query results.</span></div>` + result;
    }
    $('#searchResult-body').append(result);
    var searchResultText = document.getElementsByClassName("searchResult-line");
    var myfunction = function(e) {
        var data_begin = this.getAttribute("data-start");
        e.preventDefault();
        var myPlayer = videojs("video");
        myPlayer.play();
        myPlayer.currentTime(data_begin);
        clicked_query = log_query;
        console.log("clicked_query");
    };
    for (var j = 0; j < searchResultText.length; j++) {
        searchResultText[j].addEventListener('click', myfunction, false);
    }
    var x = document.getElementById("searchResult-body");
    if (query.length === 0) {
        $('#searchResult-body').empty();
        x.style.display = "none";
        transcript.style.display = "block";
    } else {
        x.style.display = "block";
    }
}
</script>
